<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Añadir persona</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">

    </head>

    <body>
        <form>
            <div>
                <label for="name">Nombre</label>
                <input type="text" class="campo" id="name" placeholder="Nombre de la persona" autofocus>
            </div>

            <div>
                <label for="price">Imagen</label>
                <button class="button adjuntar">Subir imagen</button>
            </div>

            <div>
                <label for="description">Descripción</label>
                <textarea cols="5" rows="8" id="description" placeholder="Descripción del sujeto" class="campo"></textarea>
            </div>
            
        </form>

        <div class="botones">
            <a href="#" class="button">Guardar</a>
            <a href="#" class="button">Cancelar</a>
        </div>

    </body>

</html>