<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pagina de inicio</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/homepage.css">
        

    </head>

    <body>

        <div class="contenedor">
            <div class="separador">
                <div class="botones">
                    <a href="#" id="iniciarBtn" class="boton">Iniciar</a>
                    <a href="#" id="añadirBtn" class="boton">Añadir persona</a>
                    <a href="#" id="borrarBtn" class="boton">Borrar personas</a>
                </div>
                <div class="banner">
                    <img src="../img/iconoide.png" alt="Imagen de banner">
                </div>
            </div>

            <a href="#" id="salirBtn" class="boton">Salir</a>
        </div>
        
        <script src="js/homepage.js"></script>

    </body>

</html>