<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Inicio</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">

    </head>

    <body>
        <div class="contenedor">
            <div class="welcome">
                <img src="../img/welcome.png" alt="">
            </div>
            <div class="botones">
                <a href="#" id="iniciar" class="button">Iniciar</a>
                <a href="#" id="tutorial" class="button">Tutorial</a>
                <a href="#" id="salir" class="button">Salir</a>
            </div>
        </div>
        

        <script src="./js/mainHandler.js"></script>

    </body>

</html>