<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Primeros pasos</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/tutorial.css">
        

    </head>

    <body>
        <div class="contenedor">
            <div class="titulo no-margin">
                <h1>Tutorial</h1>
            </div>
            <div class="instruccionesBox">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque voluptates, laboriosam excepturi, nobis accusamus consequuntur deleniti nesciunt ea nihil in minus, sit eaque doloribus debitis commodi repudiandae at. Animi, nam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fuga perferendis, ab nostrum qui quae blanditiis commodi mollitia exercitationem deserunt explicabo iste temporibus laboriosam perspiciatis assumenda optio corporis nulla hic.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque tempora iure repellendus sit incidunt pariatur perspiciatis laudantium eum ipsum nemo, consequatur officia atque illum porro excepturi nostrum omnis! Sed, nam?</p>
            </div>
            <div class="botones">
                <input type="text" placeholder="Name: " id="name">
                <a href="#" id="add" class="buttons button-right">Add face</a>
                <a href="#" id="detect" class="buttons button-right" onclick="detect_faces()">Detect</a>
                <a href="#" id="salir" class="buttons button-right">Salir</a>
            </div>
        </div>
        
        <script src="./js/face.js"></script>
        <script src="./js/tutorial.js"></script>

    </body>

</html>