<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Primeros pasos</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/tutorial.css">
        

    </head>

    <body>
        <div class="contenedor">
            <div class="titulo no-margin">
                <h1>Tutorial</h1>
            </div>
            <div class="instruccionesBox">
                <h1>2 - Añadir personas</h1>
                <p>Una vez pulsado, se abrira una ventanita donde tendrá que ingresar el nombre de la persona a la cual va a introducir, y seguido de eso, al tocar "SUBIR IMAGEN" se abrirá una ventana donde se mostrará lo que este visualizando la camara. En ese momento, debera posicionar la cara de la persona lo más aislada posible (que aparezca solo su cara) para evitar inconvenientes. Una vez este listo, presionará la tecla "A" y se guardará la imagen.</p>
            </div>
        </div>

        <div class="botones">
            <a href="tutorial3.html" id="siguienteBtn" class="boton boton-derecha">Siguiente</a>
            <a href="tutorial.html" id="atrasBtn" class="boton boton-derecha">Atras</a>
        </div>
        

    </body>

</html>