<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Primeros pasos</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/tutorial.css">
        

    </head>

    <body>
        <div class="contenedor">
            <div class="titulo no-margin">
                <h1>Tutorial</h1>
            </div>
            <div class="instruccionesBox">
                <h1>3 - Borrar personas</h1>
                <p>Para eliminar personas, lo unico que deberemos hacer es pulsar el boton, y nos indicará que se abrirá el directorio donde estan almacenadas las caras de los sujetos. Simplemente deberá eliminar la foto de la persona que quiere dejar de reconocer y ya no será identificada en el futuro.</p>
            </div>
        </div>

        <div class="botones">
            <a href="#" id="salirBtn" class="boton boton-derecha">Salir</a>
            <a href="tutorial2.html" id="atrasBtn" class="boton boton-derecha">Atras</a>
        </div>
        
        <script src="./js/tutorial.js"></script>

    </body>

</html>