html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/* ------------------------------------------------------------------------------- */
.swal2-title {
    font-size: 3rem !important;
}
.swal2-content {
    font-size: 2rem !important;
}
.swal2-confirm {
    font-size: 1.6rem !important;
}
.swal2-cancel {
    font-size: 1.6rem !important;
}
h1 {
    font-size: 4.8rem;
    margin: 0;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.6rem;
}
img {
    max-width: 100%;
}

/* ------------------------------------------------------------------------------- */
/* Utilidades */
.centrar-texto {
    text-align: center;
}
.no-margin {
    margin: 0;
}
/* ------------------------------------------------------------------------------- */
/* Botones */
a {
    text-decoration: none;
    color: white;
    background: #F2385A;
    position: relative;
    top: 2rem;
    padding: 16px;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 0px 15px 0px 0px darken(#F2385A, 5%), 0px 0px 20px 0px #bbb;
  
    transition: all 0.2s;
}
    
a:active {
    top: 2.8rem;
    box-shadow: 0px 7px 0px 0px darken(#F2385A, 5%);
}
.contenedor {
    height: 58rem;
    width: 87rem;
    margin: 0 auto;
    background-image: url("../../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;     
}
.separador {
    display: flex;
    justify-content: space-around;
}
.botones {
    margin-top: 3rem;
}
.banner {
    margin-top: 5rem;
}
.boton {
    background-color: #F2385A;
    display: block;
    margin: 5rem;
    text-align: center;
}
.boton:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}
@keyframes jelly {
    0%,
    100% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
#salirBtn {
    float: right;
    margin: 0 7rem;
    padding: 1.6rem 4rem;
}