html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/* ------------------------------------------------------------------------------- */
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.6rem;
}
img {
    max-width: 100%;
}

/* ------------------------------------------------------------------------------- */
/* Utilidades */
.centrar-texto {
    text-align: center;
}
.no-margin {
    margin: 0;
}

/* ------------------------------------------------------------------------------- */
.botones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.button {
    margin: 2rem 0 0 0;
    text-decoration: none;
    border-radius:10px;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: #33112f;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}
a.button {
    font-size: 1.7rem;
}
  
.button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #4b2f8c;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}
  
.button:hover {
    cursor: pointer;
}
  
.button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
.adjuntar {
    display: block;
    margin: 1rem auto;
    background-color: #4c1a47;
}
.titulo {
    text-align: center;
}
/* ---------------------------------------------------------- */
/* AddNewFace page */
label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.campo {
    font-weight: 300;
    text-align: center;
    width: 93%;
    padding: 10px;
    font-size: 1.6rem;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 2.6rem;
    box-shadow: 0px 0px 12px rgba(66,66,66,.70);
    margin: 1.5rem;
}
.campo:focus {
    outline: none;
    border-color: #d849cb;
}
.submit {
    margin: 0 auto;
    display: block;
}
