html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/* ------------------------------------------------------------------------------- */
.contenedor {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-image: url("../../img/banner.jpg");
    background-size: 100%;
    
    min-height: 100%;
    min-width: 100%;

    height: auto;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
}
h1 {
    font-size: 4.8rem;
    margin: 0.5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.6rem;
}
img {
    max-width: 100%;
}

/* ------------------------------------------------------------------------------- */
/* Utilidades */
.centrar-texto {
    text-align: center;
}
.no-margin {
    margin: 0;
}
.swal2-title {
    font-size: 3rem !important;
}
.swal2-content {
    font-size: 2rem !important;
}
.swal2-confirm {
    font-size: 1.6rem !important;
}
.swal2-cancel {
    font-size: 1.6rem !important;
}
/* ------------------------------------------------------------------------------- */
/* Cuerpo */
.titulo {
    margin-bottom: 0;
}
.boton {
  text-align: center;
  margin: 0 0 0 1rem;
  text-decoration: none;
  color: white;
  background: #F2385A;
  position: relative;
  top: 2rem;
  padding: 0.7rem 2rem;
  font-size: 2rem;
  border-radius: 10px;
  box-shadow: 0px 15px 0px 0px darken(#F2385A, 5%), 0px 0px 20px 0px #bbb;

  transition: all 0.2s;
}
.boton:active {
  top: 2.8rem;
  box-shadow: 0px 7px 0px 0px darken(#F2385A, 5%);
}
.boton:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}
@keyframes jelly {
    0%,
    100% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
.instruccionesBox {
    padding-left: 2rem; 
    margin: 0 0.5rem;
    background: white;
    border-left: 0.6rem solid black;
    border-radius: 1rem;
}
.boton-derecha{
    float: right;
}
